<p><%= t('.your_search_results') %></p>
<p></p>
<% if @results['total'].blank? %>
<p class="result"><img src="#{@results['icon_url']}"><span class="fact"><%= @results['value'] %></span></p>
<% else %>
	<% @results['result'].each do |res| %>
		<p class="result"><img src="#{res['icon_url']}"><span class="fact"><%= res['value'] %></span></p>
	<% end %>
<% end %>