<%#= form_with(model: search, local: true) do |form| %>
<%= form_tag searches_path, method: :post, remote: true, class: 'search-chuck' do %>

	<div class="field">
		<%= t('.email') %><br/>
    <%= email_field_tag '[search][email]' %>
  </div>

  <div class="field">
  	<%= t('.keyword') %><br/>
    <%= text_field_tag '[search][keyword]' %>
  </div>

  <div class="field">
  	<%= t('.category') %><br/>
    <%= select_tag '[search][category]', options_for_select(categories), include_blank: t('.empty_cat') %>
  </div>

  <div class="actions">
  	<%= submit_tag 'Enviar' %>
  </div>

<% end %>