<h1><%= t('.welcome') %></h1>

<%= t('.results_send_to', email: session[:email]) unless session[:email].blank? %>

<%= render 'form', search: @search, categories: @categories %>

<div class="results"></div>